@font-face {
    font-family: "Aniron";
    src: url("Aniron-7BaP.ttf");
}

body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

h1, h2 {
    font-family: Aniron;
    font-size: 2rem;
    margin: 2rem;
}

.div-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.div-circle-orange {
    width: 8vh;
    padding-bottom: 8vh;
    border-color: #FB7B25;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #e96004;
    border-width: 0.6rem;
}

.div-circle-yellow {
    width: 25vh;
    padding-bottom: 25vh;
    border-color: #FCCC09;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #cfa703;
    border-width: 1.5rem;
}

.div-circle-nested-1 {
    width: 2vh;
    padding-bottom: 2vh;
    border-color: #343435;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #1b1b1b;
    border-width: 0.15rem;
    margin: -0.5vh;
}

.div-circle-nested-2 {
    width: 4vh;
    padding-bottom: 4vh;
    border-color: #343435;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #1b1b1b;
    border-width: 0.3rem;
    margin: -1vh;
}

.div-circle-nested-3 {
    width: 6vh;
    padding-bottom: 6vh;
    border-color: #343435;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #1b1b1b;
    border-width: 0.45rem;
    margin: -1.5vh;
}

.div-circle-nested-4 {
    width: 8vh;
    padding-bottom: 8vh;
    border-color: #343435;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #1b1b1b;
    border-width: 0.6rem;
    margin: -2vh;
}

.div-circle-nested-5 {
    width: 10vh;
    padding-bottom: 10vh;
    border-color: #343435;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #1b1b1b;
    border-width: 0.75rem;
    margin: -2.5vh;
}

.div-circle-nested-6 {
    width: 12vh;
    padding-bottom: 12vh;
    border-color: #343435;
    border-style: solid;
    border-radius: 100%;
    box-shadow: 3px 3px 2px #1b1b1b;
    border-width: 0.9rem;
    margin: -3vh;
}