@mixin ring($size, $color) {
  
  width: $size;
  padding-bottom: $size;
  border-color: $color;
  border-style: solid;
  border-radius: 100%;
  box-shadow: 3px 3px 2px darken($color, 10);
}

@mixin thickness($size) {
  border-width: $size;
}

.div-circle-orange {
  @include ring(8vh, #FB7B25);
  @include thickness(0.6rem);
}

.div-circle-yellow {
  @include ring(25vh, #FCCC09);
  @include thickness(1.5rem);
}

@for $i from 1 through 6 {
    .div-circle-nested-#{$i} {
        @include ring(2vh*$i, #343435);
        @include thickness(0.15rem*$i);
        margin: -1vh*$i/2;
    }
}
